{{- $params := .Params | merge .Site.Params.page -}}

<article class="max-w-sm overflow-hidden shadow-xl bg-gray6 y-6 hover:scale-105 rounded-xl transition-transform ease-in-out duration-500">

  {{- /* Title */ -}}
  <h2 class="single-title" itemprop="name headline">
    
    {{- $repost := $params.repost | default dict -}}
    {{- with $repost -}}
      {{- if eq .Enable true -}}
        
        {{- $title := cond (hasPrefix .Url "http") (printf "%v -> %v" (T "single.repost") .Url ) (T "single.repost") -}}
        
      {{- end -}}
    {{- end -}}
    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  </h2>

  {{- /* Meta */ -}}
  <div class="post-meta">
    {{- partial "single/post-author.html" . -}}

    {{- with .PublishDate | dateFormat (.Site.Params.dateFormat | default "2006-01-02") -}}
      &nbsp;<span class="post-publish" title='{{ "2006-01-02 15:04:05" | $.PublishDate.Format }}'>
        {{- printf `<time datetime="%v">%v</time>` . . | dict "Date" | T "single.publishedOnDate" | safeHTML -}}
      </span>
    {{- end -}}

    {{- partial "single/post-included-in.html" . -}}
  </div>

  {{- /* Summary content */ -}}
  <div class="content">
    {{- with .Summary -}}
      {{- dict "Content" . "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
    {{- else -}}
      {{- .Description | safeHTML -}}
    {{- end -}}
  </div>

  {{- /* Footer */ -}}
  <div class="post-footer">
    <a href="{{ .RelPermalink }}">{{ T "single.readMore" }}</a>
    {{- $tagTerms := .GetTerms "tags" -}}
    {{- if $tagTerms -}}
      <div class="post-tags">
        {{- dict "Class" "fa-solid fa-tags fa-fw me-1" | partial "plugin/icon.html" -}}
        {{- range $tagTerms -}}
          <a href='{{ partial "function/escapeurl.html" .RelPermalink }}' class="post-tag">{{ .LinkTitle }}</a>
        {{- end -}}
      </div>
    {{- end -}}
  </div>
</article>
